* {
  box-sizing: border-box;
}

:root {
  --primary-color: #143c3c;
  --text-color: #575d5e;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Public Sans", "Poppins", sans-serif;
}

/* Common */
.container {
  width: 1140px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  padding: 0 52px;
  min-width: 173px;
  height: 57px;
  border-radius: 99px;
  border: 1.5px solid var(--primary-color);
  background: var(--primary-color);
  text-align: center;
  line-height: 57px;
  color: white;
  font-family: "Public Sans";
  font-size: 1.8rem;
  font-weight: 500;
  text-wrap: nowrap;
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.section-title {
  color: #152427;
  font-family: Poppins;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.62;
}

.section-heading {
  color: #152427;
  font-family: Poppins;
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 1.24;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp.line-3 {
  --line-clamp: 3;
}

.line-clamp.line-4 {
  --line-clamp: 4;
}

.word-break {
  word-break: break-all;
}

/* Header */
.header {
  padding-top: 28px;
  min-height: 100vh;
}

.header-top {
  display: flex;
  align-items: center;
}

.navbar {
  margin-left: auto;
}

.navbar__list {
  display: flex;
  position: relative;
}

.navbar__link {
  padding: 4px 19px;
  color: var(--text-color);
  font-family: "Public Sans";
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.55;
}

.navbar__link:hover {
  text-shadow: 1px 0 0 currentColor;
}

.navbar__link-active {
  color: #152427;
}

.navbar__link-active::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 25px;
  bottom: -28px;
  width: 16px;
  height: 2px;
  background: var(--primary-color);
}

.header-action {
  margin-left: 88px;
}

.header-line {
  margin-top: 13px;
  width: 1140px;
  height: 1px;
  background: linear-gradient(
    90deg,
    #fff 0%,
    #dddcdc 51.09%,
    rgba(212, 212, 212, 0) 99.68%
  );
}

/* Hero */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 0 88px 0;
}

.hero__content {
  flex-shrink: 0;
}

.hero__heading {
  width: 368px;
  color: #152427;
  font-family: "Public Sans";
  font-size: 5rem;
  font-weight: 800;
  line-height: 1.2;
}

.hero__desc {
  margin-top: 20px;
  width: 341px;
  color: var(--text-color);
  font-family: "Public Sans";
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.55;
}

.hero__media {
  position: relative;
  width: 57%;
}

.hero__bg {
  position: absolute;
  top: 182px;
  right: 150px;
  z-index: -1;
  width: 340px;
  height: 340px;
  border-radius: 340px;
  background: #4dbb9a;
  filter: blur(137px);
}

.hero__images {
  display: flex;
  column-gap: 20px;
}

.hero__img {
  width: 202px;
  height: 466px;
  border-radius: 110px;
  object-fit: cover;
}

.hero__img-02 {
  margin-top: 77px;
}

/* Hero Animation Btn */
.hero__action {
  margin-top: 42px;
  display: flex;
  column-gap: 36px;
}

.btn__video {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.btn__video-eclipse {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 58px;
  height: 58px;
  transform: rotate(-45deg);
  transition: 0.5s;
  border: 4px solid;
  border-radius: 50%;
  border-color: var(--primary-color) transparent transparent
    var(--primary-color);
}

.btn__video-wrap {
  display: inline-block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #83a17d;
  transform: rotate(45deg);
  color: #fef6fb;
  font-size: 1.2rem;
  text-align: center;
  line-height: 44px;
}

.btn__video-span {
  margin-left: 15px;
  color: #152427;
  font-family: Poppins;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.btn__video:hover .btn__video-eclipse {
  border-color: #83a17d transparent transparent #83a17d;
  transform: rotate(135deg);
}
.btn__video:hover .btn__video-wrap {
  background: var(--primary-color);
  transform: rotate(-135deg);
}

.btn__video:hover .btn__video-span {
  color: #83a17d;
}

.hero__vector--top {
  position: absolute;
}

.hero__vector--bottom {
  position: absolute;
  top: 23px;
}

.top-star {
  position: absolute;
  top: -32px;
  left: -184px;
}

.vector-top {
  position: absolute;
  top: -33px;
  left: -138px;
}

.bottom-star {
  position: absolute;
  bottom: -576px;
  right: -647px;
}

.vector-bottom {
  position: absolute;
  bottom: -598px;
  right: -603px;
}

/* Brands */
.brand {
  margin-top: 42px;
}

.brand-body {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 50px;

  padding: 82px 0;
  border-radius: 999px;
  background: #e2eddf;
}

.brand-body__name {
  display: flex;
  align-items: center;
  column-gap: 14px;
  font-family: Poppins;
  color: var(--primary-color);
}

.brand-body__name:first-child {
  font-size: 3.1rem;
  font-weight: 500;
}

.brand-body__name:nth-child(2) {
  font-size: 3.2rem;
  font-weight: 600;
}

.brand-body__name:nth-child(3) {
  font-size: 2.6rem;
  font-weight: 400;
}

.brand-body__name:nth-child(4) {
  font-family: "Sonsie One", sans-serif;
  font-size: 2.3rem;
  font-weight: 400;
}

.brand-body__name:last-child {
  font-size: 1.9rem;
  font-weight: 600;
  letter-spacing: 1.995px;
}

/* Service */
.service {
  margin-top: 53px;
  padding: 53px 0;
}

.service__row {
  display: flex;
  margin-top: 12px;
}

.service__intro-title {
  position: relative;
  margin-left: 37px;
}

.service__intro-title::before {
  position: absolute;
  top: 9px;
  left: -37px;
  content: "";
  width: 25px;
  height: 1px;
  background: #152427;
}

.service__intro-heading {
  position: relative;
  width: 520px;
}

.service__intro-heading::after {
  position: absolute;
  bottom: 19px;
  right: 103px;
  content: "";
  width: 66px;
  height: 2px;
  background: #152427;
}

.service__action {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 17px;
  margin-left: 422px;
}

.service__action-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  border: 1px solid #e2eddf;
  background: #e2eddf;
  color: #152427;
  outline: none;
  border: none;
  transition: 0.25s;
}

.service__action-btn:hover {
  background: var(--primary-color);
  color: #fff;
  border-color: var(--primary-color);
  cursor: pointer;
}

.service__action--next {
  rotate: 180deg;
}

.service__list {
  margin-top: 76px;
  display: flex;
  column-gap: 16px;
}

.service__item {
  flex: 1;
  border-radius: 20px;
  transition: 0.25s;
}

.service__item:hover {
  border-radius: 20px;
  background: #fff;
  box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
  transform: translateY(-16px);
}

.service__img {
  width: 100%;
  height: 245px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.service__info {
  padding: 24px 84px 24px 18px;
}

.service__heading {
  color: #152427;
  font-family: Poppins;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.71;
}

.service__desc {
  margin-top: 18px;
  color: #7d8188;
  font-family: Poppins;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.71;
}

/* Intro */
.intro {
  margin-top: 52px;
  padding: 52px 0;
}

.intro__body {
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  column-gap: 64px;
}

/* Intro Media */
.intro__media {
  position: relative;
  width: 51.8%;
}

.intro__vectors {
  position: absolute;
  top: 0;
  left: -13px;
}

.intro__vectors-star {
  position: absolute;
  top: -18px;
  left: 46px;
  transform: rotate(176.985deg);
}

.intro__vectors-tail {
  position: absolute;
  transform: rotate(12.645deg);
  top: 39px;
  left: 52.23px;
}

.intro__images {
  display: flex;
  column-gap: 21px;
}

.intro__img {
  width: calc((100% - 21px) / 2);
  height: 480px;
  object-fit: cover;
  border-radius: 210px;
  box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
}

.intro__img:first-child {
  margin-top: 90px;
}

/* Stats Area */
.intro__stats {
  position: absolute;
  right: -9px;
  bottom: -8px;
  padding: 19px 23px 12px;
  width: 143px;
  height: 144px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
}

.intro__stats-title {
  color: #152427;
  font-family: "Public Sans";
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1;
}

.intro__stats-desc {
  margin: 6px 0 10px;
  color: #575d5e;
  font-family: "Public Sans";
  font-size: 1rem;
  line-height: 1.4;
  opacity: 0.4;
}

.intro__stats-span {
  color: #152427;
  font-family: "Public Sans";
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4;
}

.intro__stats-loading-bar {
  margin: 3px 0;
  position: relative;
  width: 96px;
  height: 2px;
  border-radius: 10px;
  background: #eaeaea;
}

.intro__stats-loading-bar::after {
  position: absolute;
  top: 0;
  display: inline-block;
  content: "";
  width: 40px;
  height: 2px;
  border-radius: 10px;
  background: #83a17d;
}

.intro__stats-loading {
  display: block;
  text-align: right;
}

.intro__stats-dots {
  position: relative;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #eaeaea;
}

.intro__stats-dots::after {
  position: absolute;
  top: 3px;
  left: 3px;
  display: inline-block;
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #143c3c;
}

.intro__stats-team {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4px;
}

.intro__stats-thumb {
  margin-left: -10px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #fff;
}

/* Intro Section */
.intro__section {
  width: 42.5%;
}

.intro__section-title {
  position: relative;
  margin-left: 45px;
}

.intro__section-title::before {
  display: inline-block;
  position: absolute;
  top: 11px;
  left: -45px;

  content: "";
  width: 25px;
  height: 1px;
  background: #152427;
}

.intro__section-heading {
  margin-top: 28px;
  width: 490px;
  font-size: 4.2rem;
}

.intro__section-desc {
  margin-top: 11px;
  color: #7d8188;
  font-family: Poppins;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.62;
}

.intro__section-row {
  margin-top: 36px;
  display: flex;
  align-items: center;
  column-gap: 24px;
  margin-top: 36px;
}

.intro__section-detail {
  max-width: 364px;
  color: #7d8188;
  font-family: Poppins;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.71;
}

.intro__section-span {
  color: #152427;
  font-family: Poppins;
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 1.23;
}

.intro__section-break-line {
  margin-top: 20px;
  width: 485px;
  height: 1px;
  background: #83a17d;
}

/* Process */
.process {
  margin-top: 27px;
  padding: 36px 0;
}

.process__title {
  position: relative;
  margin-left: 46px;
  line-height: 1.12;
}

.process__title::before {
  position: absolute;
  bottom: 9px;
  left: -46px;
  content: "";
  width: 25px;
  height: 1px;
  background: #152427;
}

.process__heading {
  position: relative;
  margin-top: 20px;
  line-height: 1.24;
  max-width: 477px;
}

.process__heading::after {
  position: absolute;
  bottom: 18px;
  right: -9px;
  display: inline-block;
  content: "";
  width: 66px;
  height: 2px;
  background: #152427;
}

.process__list {
  margin-top: 81px;
}

.process__idea {
  margin-top: 54px;
  display: flex;
  align-items: center;
  padding: 57px 30px;
  transition: 0.5s;
}

.process__idea:hover {
  height: 185px;
  border-radius: 33px;
  background: #e2eddf;
  cursor: pointer;
}

.process__idea:hover .process__idea-link {
  display: inline-block;
}

.process__idea:first-child {
  position: relative;
}

.process__idea-span {
  margin-right: 64px;
  color: var(--primary-color);
  font-family: Poppins;
  font-size: 7.2rem;
  font-weight: 600;
  line-height: 0.7;
}

.process__idea-title {
  color: #152427;
  font-family: Poppins;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1;
  transition: 0.5s;
}

.process__idea-link {
  display: none;
  margin-top: 22px;
  text-decoration: underline;
  color: #575d5e;
  font-family: Poppins;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.8px;
  transition: 0.25s;
}

.process__idea-desc {
  max-width: 572px;
  margin-left: auto;
  color: #7d8188;
  font-family: "Public Sans";
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.55;
}

.process__idea-img {
  display: inline-block;
  position: absolute;
  top: -337px;
  right: 92px;
  margin-top: 79px;
  margin-left: auto;
  display: block;
  width: 450px;
  object-fit: cover;
}

.process__idea-break {
  margin-top: 21px;
  width: 1131px;
  height: 3px;
  background: linear-gradient(
    180deg,
    #83a17d 4.17%,
    rgba(131, 161, 125, 0) 36.46%
  );
}

/* Project */
.project {
  margin-top: 112;
}

.project__body {
  padding: 116px 130px 63px;
  background: var(--primary-color);
}

.project__introduction {
  display: flex;
  column-gap: 93px;
}

.project__heading {
  max-width: 457px;
  color: #e7f9f9;
}

.project__desc {
  margin-top: 11px;
  color: #6a8383;
  font-family: "Public Sans";
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.56;
}

.project__browser-link {
  margin-top: 13px;
  display: flex;
  align-items: center;
  gap: 26px;
  color: #fff;
  font-family: "Public Sans";
  font-size: 1.8rem;
  font-weight: 500;
}

.project__browser-link:hover p {
  text-decoration: underline;
  cursor: pointer;
}

.project__media {
  position: relative;
  margin-top: 65px;
}

.project__vector {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.project__vector-star {
  position: absolute;
  transform: rotate(176.985deg);
  top: -80px;
  right: -52px;
}

.project__vector-tail {
  position: absolute;
  top: -166px;

  right: -61px;
}

/* Make sure video always display at 16:9 ratio */
.project__video {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  border-radius: 22px;
  overflow: hidden;
}

.project__video-play {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 22px;
  object-fit: cover;
}
